.cv-content {
    width: calc(4.25in * 1.5);
    height: calc(5.5in * 1.5);
    background-color: white;
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 2.5px;
    padding: calc(0.25in * 1.5);
    font-family: 'Times New Roman', Times, serif;
}
